
<div class="box ">
    <div class="text">

        <div>
            <h1> WHO IS THIS GUY ?</h1>
            <p>
               {{_MyInfotmation}}
               Testing 3
            </p>
        </div>
    </div>
</div>

<div>
   
<div class ="skillContainer" >
    <h1 class="skills"> Skills </h1>
    
    <div >
        <a><span> JAVA Core  </span> </a>
        <a><span> Angular 7  </span> </a>
        <a><span> MSSQL Server  </span> </a>  

    </div>
    <div >
        <a><span> JAVA Spring  </span> </a>
        <a><span> RPA   </span> </a>
        <a><span> MySQL  </span> </a>
    </div>
    <div >
        <a><span> JAVA Hibernate  </span> </a>
        <a><span> CI/CD </span> </a>
        <a><span> T-SQL  </span> </a>
    </div>
    <div >
        <a><span> Junit 5  </span> </a>
        <a><span> TypeScript </span> </a>
        <a><span> MSBI-SSIS/SSRS  </span> </a>
    </div>
    <div >
        <a><span> REST API  </span> </a>
        <a><span> Docker  </span> </a>
        <a><span> HTML/CSS  </span> </a>
    </div>
</div>
</div>