<section class="project-section">
    <div class="project-container ">
        <div class="inner transition2">
            <p class="subtitle">Freelance</p>
            <h1 class="project-title">Scure InfoSec</h1>
            <p class="project-des"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi reprehenderit deleniti exercitationem earum similique optio nemo mollitia autem iure quam.</p>
        </div>
        <img src="../../assets/projects/Scure landing Page.jpg" alt = "Scure Langing Page" />
    </div>

    <div class="project-container">
        <div class="inner transition2">
            <p class="subtitle">PRI</p>
            <h1 class="project-title">Snext Project</h1>
            <p class="project-des"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi reprehenderit deleniti exercitationem earum similique optio nemo mollitia autem iure quam.</p>
        </div>
        <img src="../../assets/projects/Crypto manager.jpg" alt = "Scure Langing Page" />
    </div>

    <div class="project-container">
        <div class="inner transition2">
            <p class="subtitle">Personal</p>
            <h1 class="project-title">Crypto Manager</h1>
            <p class="project-des"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi reprehenderit deleniti exercitationem earum similique optio nemo mollitia autem iure quam.</p>
        </div>
        <img src="../../assets/projects/Scure landing Page.jpg" alt = "Scure Langing Page" />
    </div>
    
</section>