.project-container {
    position: relative;
    margin-bottom: 7em;
}

.project-container .project-title {
    color: black;
    font-family: Arial Rounded MT;
    font-weight: bold;
    font-size: 1.8em;
    margin-top: -0.5em;
    display: block;

}

.project-container .subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #FF46CB;
    letter-spacing: .2em;
    font-size: 1em;
}

.project-des {
    color: #252525;
    margin-bottom: 1.5em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
    text-align: justify;
}

.tools-image {
    width: 1.5em;
}

.project-des-tools {
    margin-top: 0.5em;
    text-align: center;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
    margin-bottom: 3em;
}

.lastImage img {
    margin-bottom: 3em;
}

@media only screen and (min-width: 800px) {
    img {
        width: 100%;
        margin-top: 2.5em;
    }

    .project-container {
        text-align: left;
        display: grid;
        grid-template-columns: 40% auto;
    }

    .reverse {
        display: grid;
        grid-template-columns: auto 40%;
    }

    .inner {
        align-self: center;
    }

    .image-left {
        grid-row-start: 1;
        grid-column-start: 1;
        transform: translateX(-2em);
    }

    .content-left {
        margin-right: 2em;
    }

    .content-right {
        text-align: right;
        margin-left: 2em;
    }

    .image-right {
        transform: translateX(2em);
    }

    .lastImage img {
        align-items: center;
    }

    .project-des-tools {
        text-align: justify;
    }

}

@media only screen and (min-width: 1250px) {
    .image-left {
        transform: translateX(-4em);
    }

    .image-right {
        transform: translateX(4em);
    }

    .project-container .project-title {
        font-size: 2em;
        margin-top: unset;
    }

    .project-container .subtitle {
        font-size: 1em;
        /* margin-bottom: .5em; */
    }

    .project-container .content-left p {
        font-size: 1em;
        /* margin-bottom: .5em; */
    }

    .project-container .content-right p {
        font-size: 1em;
        /* margin-bottom: .5em; */
    }

}