<section class="project-section">
    <div class="project-container ">
        <div class="inner transition2 content-left">
            <p class="subtitle">Freelance</p>
            <h1 class="project-title">Scure InfoSec</h1>
            <p class="project-des">
                It is an IT security company, Got a chance to develop the website for the company. As I already had
                developed a web dashboard for a company, I was confident that I can do it but this time I got a new
                challenge to design it. So taking up the challenge designed the website on XD. Also when asked to design
                the logo for the company, given the try on Adobe Illustrator and got it accepted by the company.
            </p>
            <img class="tools-image" src="../../assets/svg/Icon-tools.svg" alt="">
            <p class="project-des-tools">Angular, JavaScript, TypeScript, Bootstrap, GSAP, HTML, CSS, Adobe XD, Adobe
                Illustrator </p>
        </div>
        <img class="image-right transition2" src="../../assets/Landing Page/scure-screenshot.jpg"
            alt="Scure Langing Page" />
    </div>

    <div class="reverse project-container ">
        <div class="inner transition3 content-right">
            <p class="subtitle">PRI</p>
            <h1 class="project-title">Snext Project</h1>
            <p class="project-des">
                It is a supply chain management company, based in Paris France. I was assigned to this company along
                with 3 other EPITA students. I was the front-end developer and responsible for creating a smart
                dashboard that is capable of predicting the supply model.
            </p>
            <img class="tools-image" src="../../assets/svg/Icon-tools.svg" alt="">
            <p class="project-des-tools">Angular, JavaScript, TypeScript, Bootstrap, HTML, CSS, Angular Material </p>

        </div>
        <img class="image-left transition3" src="../../assets/Landing Page/snext-screenshoot.jpg"
            alt="Scure Langing Page" />
    </div>

    <div class="project-container ">
        <div class="inner transition4 content-left">
            <p class="subtitle">Personal</p>
            <h1 class="project-title">Crypto Manager</h1>
            <p class="project-des">
                As I am a part-time cryptocurrency investor I use 4 to 5 exchanges, which creates a problem of viewing
                and managing all the crypto-currencies. So I planned to make a portal that can use APIs of exchanges and
                able to show them all in one place. What better than lockdown time, I started developing the dashboard.
                till now this dashboard can show all the currencies I hold and their change percentage with respect to
                BTC.
                For the future, I want to make a prediction panel that will be able to predict the buying/ selling
                probability based on various technical analysis.
            </p>
            <img class="tools-image" src="../../assets/svg/Icon-tools.svg" alt="">
            <p class="project-des-tools">Angular, JavaScript, TypeScript, Bootstrap, HTML, CSS, GSAP, JAVA Core, J2EE,
                Spring, Spring Boot, Maven, firebase
            </p>
        </div>

        <img class="lastImage image-right transition4" src="../../assets/projects/Crypto manager.jpg"
            alt="Scure Langing Page" />
    </div>

</section>