.design-footer{
    display: none;
}
.contact{
    margin-top: 10vh;
    height: 10vh;
    background: #5D00FF;
    
}

.content-container{
width: 70vw;
height: 15vh;
background: #141C3A;
border-radius: 20px;
color: white;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
padding: 1em;
transform: translateY(-10vh);
font-size: .9em;
margin: auto;
}

.mail-box{
    text-align: center;
    background: white;
    width: fit-content;
    border-radius: 20px;
    padding: .5em 2em;
    color: #5D00FF;
}

.mail-box p{
    margin: auto;
}

@media only screen  and (min-width: 800px){
    .content-container{
        flex-direction: row;
    }

    .content-container p{
        font-size: 1.5em;
    }

    .design-footer{
        display: block;
        /* position: absolute; */
        width: 5vw;
    }
}