
<div class="contact">
    <div class="content-container">
      <p>let's have a meeting, I'l buy the coffee</p>

      <div class="social">
          <a  (click)="onpenSocialPage('lnkedin')" >
            <img  class="social-icons" src="../../assets/Landing Page/Icon-linkedin-in.svg" alt="Linked-in Icon" />
          </a>
          <a (click)="onpenSocialPage('github')" >
            <img  class="social-icons" src="../../assets/Landing Page/Icon-github.svg" alt="Github Icon" />
          </a>
          <a (click)="onpenSocialPage('facebook')" >
              <img class="social-icons" src="../../assets/Landing Page/Icon-facebook.svg" alt="FaceBook Icon" />
          </a> 
          
          <a (click)="onpenSocialPage('twitter')" > 
            <img class="social-icons" src="../../assets/Landing Page/Icon-twitter.svg" alt="Twitter Icon" />
          </a>
      </div>
      <div class="mail-box" (click)="copyToClipboard()">
          <p>Mail me</p>
      </div>
      <img class="design-footer" src="../../assets/SquareFootorDesign.svg" />
  </div>
  <!-- <div class="copyright">	<p>I will display &#169;</p></div> -->
</div>