
<body class="mt-5">
    <div class="summary ">
        <div class="row container summaryData">
            <div class="col col-lg-4 col-sm-12">Lets's Work Together</div>
            <div class="col col-lg-4 col-sm-12"> Intrested in working together, Let's have a meeting, Il buy the coffee </div>
            <div class="col col-lg-4 col-sm-12"><button type="button" class="btn btn-outline-primary">Mail me</button> </div>
        </div>
    </div>
    <div class="formContainer">
        <div >
        <ul>
            <li> <a href="#"><i class="fab fa-facebook-f"></i> </a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a> </li>
            <li><a href="#"></a></li>
        </ul>
        </div> 
    </div>
    
</body>