<meta name ="viewport" content="width=device-width , initial-scale=1.0" >
<body>
    <div class="formContainer">
        <h2> Contact Me</h2>
        <div class="row100">
        <mat-grid-list [cols]="NoOfColumnsForGrid" [rowHeight]="rowHeight" >
            <mat-grid-tile>
                <div class = "col">
                    <div class="inputBox">
                        <input type="text" name=""  required="required">
                        <span class="text">First Name</span>
                        <span class="line"></span>
                    </div>
                </div>
            </mat-grid-tile>
        
            <mat-grid-tile>
                <div class = "col">
                    <div class="inputBox">
                        <input type="text" name=""  required="required">
                        <span class="text">Last Name</span>
                        <span class="line"></span>
                    </div>
                </div>
            </mat-grid-tile>
        
            <mat-grid-tile>
                <div class = "col">
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span class="text">Email</span>
                        <span class="line"></span>
                    </div>
                </div>
            </mat-grid-tile>
        
            <mat-grid-tile>
                <div class = "col">
                    <div class="inputBox">
                        <input type="text" name=""  required="required">
                        <span class="text">Mobile</span>
                        <span class="line"></span>
                    </div>
                </div>
            </mat-grid-tile>
        

            <mat-grid-tile [colspan]="colspan">
                <div class = "col" >
                    <div class="inputBox textarea" >
                        <textarea required="required"></textarea>
                        <span class="text">Message</span>
                        <span class="line"></span>
                    </div>
                </div>
            </mat-grid-tile>

            <mat-grid-tile  [colspan]="colspan">

                <div class = "col" >
                    <input type="submit" value="send" >
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        </div> 
    </div>
    <!-- <div>
        Photo by Markus Spiske on Unsplash
    </div> -->
</body>