<section class="skills">
    <div class="skill-container">
        <ul>
            <li class="transtition2">
                <div class="icon-container one">
                    <img src="../../assets/skills/backend-icon.svg" />
                </div>
                <p class="skill-title">Back-end Design</p>
                <p class="featured-des skill-des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur maiores tenetur magnam deserunt ipsam. Vitae beatae modi omnis, obcaecati quia optio voluptatum animi facere vero nobis esse aliquam sunt aperiam.</p>

            </li>

            <li class="transtition2">
                <div class="icon-container two">
                    <img src="../../assets/skills/frontend-icon.svg" />
                </div>
                <p class="skill-title">Front-end Design</p>
                <p class="featured-des skill-des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur maiores tenetur magnam deserunt ipsam. Vitae beatae modi omnis, obcaecati quia optio voluptatum animi facere vero nobis esse aliquam sunt aperiam.</p>

            </li>

            <li class="transtition2">
                <div class="icon-container three">
                    <img src="../../assets/skills/everythingElse-icon.svg" />
                </div>
                <p class="skill-title">Everything Else</p>
                <p class="featured-des skill-des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur maiores tenetur magnam deserunt ipsam. Vitae beatae modi omnis, obcaecati quia optio voluptatum animi facere vero nobis esse aliquam sunt aperiam.</p>

            </li>
        </ul>
        
    </div>
</section>