<section class="skills">
    <div class="skill-container">
        <ul>
            <li class="transtition2">
                <div class="icon-container one">
                    <img src="../../assets/skills/backend-icon.svg" />
                </div>
                <p class="skill-title">Back-end Developer</p>
                <p class="featured-des skill-des">I value simple structure, clean design patterns and code reusability.</p>
                <p class="skill-subtitle">
                    <img src="../../assets/svg/Icon-tools.svg" />
                </p>
                <p class="featured-des skill-des">Java Core, J2EE, Spring, Spring Boot, Hibernate, Rest API, JUnit, Maven, Flutter, Dart</p>

            </li>

            <li class="transtition2">
                <div class="icon-container two">
                    <img src="../../assets/skills/frontend-icon.svg" />
                </div>
                <p class="skill-title">Front-end Developer</p>
                <p class="featured-des skill-des">
                    I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
                <p class="skill-subtitle"> <img src="../../assets/svg/Icon-tools.svg" /></p>
                <p class="featured-des skill-des">Angular 10, React.js, Javascript, Typescript, HTML, CSS, Redux, Adobe XD, Figma </p>

            </li>

            <li class="transtition2">
                <div class="icon-container three">
                    <img src="../../assets/skills/everythingElse-icon.svg" />
                </div>
                <p class="skill-title">Everything Else</p>
                <p class="featured-des skill-des"> Except for Front-end and Back-end, there are many things that are required to create a complete project  </p>
                <p class="skill-subtitle"> <img src="../../assets/svg/Icon-tools.svg" /></p>
                <p class="featured-des skill-des">MS SQL, T-SQL, GraphQL, MSBI, GIT, RPA, Docker, Jenkins, Nexus, Agile, Scrum</p>
            </li>
        </ul>
        
    </div>
</section>