<body>
    

    <div class="cardContainer">
        <div class ="card">
            <div class="face face1">
                <div class="content">
                    <mat-icon>important_devices</mat-icon>
                    <h3>Front-end Deveoper</h3>

                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Création d'un tableau de bord web intelligent pour la gestion de la chaîne
                        d'approvisionnement et d'un modèle de prévision probabiliste. Travail sur les API REST,
                        Angular 7 et TypeScript utilisés pour le projet
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi maiores cupiditate impedit earum alias in sapiente, quo neque amet culpa hic. Qui ipsum perferendis repellendus commodi sint quam explicabo est!
                    </p>
            </div>
            </div>

        </div>

        <div class ="card">
            <div class="face face1">
                <div class="content">
                    <mat-icon>code</mat-icon>
                    <h3>Back-end Developer</h3>

                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Création d'une application Web pour le quiz. L'application
                        peut afficher une série de questions et un utilisateur peut donner les
                        réponses. Java, Angular et REST sont utilisés pour le développement
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum magni impedit mollitia veritatis voluptatem, autem temporibus aut blanditiis veniam! Cupiditate, incidunt quasi. Amet obcaecati ducimus rerum quibusdam nesciunt praesentium cum.
                    </p>
            </div>
            </div>

        </div>
        <div class ="card">
            <div class="face face1">
                <div class="content">
                    <mat-icon>computer</mat-icon>
                    <h3>Database Developer </h3>

                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Création d'une application Web pour le quiz. L'application
                        peut afficher une série de questions et un utilisateur peut donner les
                        réponses. Java, Angular et REST sont utilisés pour le développement
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis a praesentium est saepe vitae! Veniam, officiis illo sapiente quisquam voluptate dolorum, in vitae enim saepe alias non nemo praesentium magnam?
                    </p>
            </div>
            </div>

        </div>
    </div>

</body>