
.navBar {
  
  /* position:  relative; */
  width: 100%;
  height: 5em;
  background-color: black;
  color: white;
  justify-content: space-evenly;
 
}
span {
  padding: 1rem;
}
a { color: inherit;
  text-decoration: none; } 

h1 {
    /* color: #999999; */
font-family:   'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 30%;
font-weight: bold;
/* margin-top: 0px; */
/* margin-bottom: 1px; */
  }