
<!-- <div class="navBar">
<mat-toolbar  >
    <mat-toolbar-row>
        <div class = toolbar >
            <a (click) = "toLoacation('HOME')">HOME</a>
        </div>
        <div class = toolbar>
            <span *ngFor="let item of dasboardMenue">
                <a (click) = "toLoacation(item)"  >{{item}}</a>
            </span>  
        </div>
        <div  class = toolbar>
            <span *ngFor="let icon of socialMediaAcountIcons">
                <a (click) = "goToLink(icon)" href="#"> <mat-icon svgIcon={{icon}}></mat-icon></a>
            </span> 
        </div>
    </mat-toolbar-row>
</mat-toolbar>
</div> -->
<body>
    
    <div class="info">
        <app-info></app-info>
    </div>
    <app-projects></app-projects>
    <app-work></app-work>
    <app-contact></app-contact>
</body>
