
<div id="main">
    <section id="HOME"  >
        <div class = "sec">

            
        <div id="bg"></div>
        <div class = "scrollDown">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        </div>
        
        <div class ="containerImge"   >
            <img src={{picture}} class="img-rounded" alt="My Image"  style="width: 1000px;"/> 
            
        </div>

    </section>
    <script type="text/javascript">
        var bg = document.getElementById("bg");
        window.onmouseover = function(e){
            bg.style.width = e.clientX + 'px';
        }
    </script>


    <section id="ABOUT"   >
        <div class = "sec">
         <app-about></app-about>
        </div>
    </section>
    <section id="WORK"  >
        <div class = "sec"><app-work></app-work></div>
        
    </section>
    <section id="CONTACT" >
        <div class = "sec"><app-contact></app-contact></div>
    </section>

<!-- <script type="text/javascript">
    var section = document.querySelector('containerImge');
    window.addEventListener('scroll',function(){
        var value = window.scrollY;
        section.style.clipPath = "circle(" + value + "% at 45% 40% )" 
    })
</script> -->

</div>