
<div id="main">
    <section id="HOME" >
        <div class = "sec">

            
        <div id="bg"></div>
        <div class = "scrollDown">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        </div>
        
        <div class="img-container"> 
        </div>
         

    </section>
    


    <section id="ABOUT"   >
        <div class = "sec">
         <app-about></app-about>
        </div>
    </section>
    <section id="WORK"  >
        <div class = "sec"><app-work></app-work></div>
        
    </section>
    <section id="CONTACT" >
        <div class = "sec"><app-contact></app-contact></div>
    </section>

<!-- <script type="text/javascript">
    var section = document.querySelector('containerImge');
    window.addEventListener('scroll',function(){
        var value = window.scrollY;
        section.style.clipPath = "circle(" + value + "% at 45% 40% )" 
    })
</script> -->

</div>