h1{
    font-family: "Tangerine", serif;
}
h1.name{
    font-family: "Tangerine", serif;
    letter-spacing: 2px;
    font-size:100px;
    color: black;
    position: absolute;
    z-index: 100;
    top: 180px;
    right: 10%;
}

h1.about{
    font-family: "Tangerine", serif;
    letter-spacing: 2px;
    font-size:90px;
    color: black;
    position: absolute;
    z-index: 100;
    top : 10px;
    text-align: center;
}

.navBarStyle{
    /* padding-top: 400px; */
     
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}
section {
    position: relative;
    /* margin-top: 10%; */
    height: 100%;
}

section.sectionInfo {
    
     position: fixed;
     top: 0px;
    height: 100%;
}

section.sectionScroll {
    border : 2px black;
    margin-top: 90%;
    height: 100%;
    background-color: #fff;
}
section.secondScroll{
    /* border: black solid 2px; */
    margin-top: 25%;
    padding: 0;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* font-family: consolas; */
    background-color: #fff;
}
.containerImge {
    text-align: center;
    color: black;
    width: 100%;
    height: 100%;
  }

img {
    padding-top:3px;
    border-radius: 1px ; 
    background-size: cover;
    width: 100%;
  }

.scrollDown
{
    position: relative;
    bottom: 70px;
    left: 45%;
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg); 
}
.scrollDown span
{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    animation:  animate 1.5s linear infinite;
    opacity: 0;
}
.scrollDown span:nth-child(1)
{
    transform: translate(-15px,-15px);
    animation-delay: -0.4s;
}
.scrollDown span:nth-child(2)
{
    transform: translate(0px,0px);
    animation-delay: -0.2s;
}
.scrollDown span:nth-child(3)
{
    transform: translate(15px,15px);
    animation-delay: 0s;
}

@keyframes animate
{
    0%
    {
        top: -5px;
        left: -5px;
        opacity: 0;
    }

    25%
    {
        top: 0px;
        left: 0px;
        opacity: 1;
    }

    100%
    {
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}
  

