<body>



<div >
    <img class="waveTop" src="../../assets/svg/WasveTopWithTool.svg" style="width: 100%;" />

    <div class="info">
        <div class="row justify-content-center mb-5 " > Bonjour !</div>
        <div class="row  mb-5 mt-5" >
            <div class="col-lg-6 ">
                <div class="row"><img class="avatar" src="../../assets/avatar.png" style="height: 30vh; margin-left: 50%; transform: translateX(-50%);" /> </div>
            </div>
            <div class="col-lg-6    justify-content-center" >
                <div class="infoText mt-4 m-4" >
                    <h1> Hi, There</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores 
                        et ea rebum. Stet clita kasd gubergren, no. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
                        ut labore et dolore magna aliquyam erat
                    </p>
                </div>
            </div>
        </div>  
        
    </div>
    <img class="waveTop" src="../../assets/svg/waveBottom.svg" style="width: 100%; transform: translateY(-3px);" />

</div>

</body>