.waveTop{
    margin-bottom: -1px;
}
.info-container{
    margin-top: -10vh;
}

.info{
    background: #5D00FF;
    margin: 0;
    padding: 0;
    text-align: center;
}
.info h1{
    color: white;
    font-weight: bold;
    font-size: 3em;
}

.info-section{
    padding-top: 2em;
}
.avatar{
    width: 120px;
}

.content{
    margin: 0.5em 4em 0 4em;
    border: 2px #FF46CB solid;
    z-index: 1;
    background: white;
    padding: 2em;
    border-radius: 15px;
    font-size: 0.9em;
}
.content h1{
    color: #5D00FF;
    font-size: 2em;
    
}
.content p {
    text-align: justify; 
}

@media only screen  and (min-width: 800px){

    
    .info-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content{
        width: 60vw;
    }
}

@media only screen  and (min-width: 1250px){
    .info-section{
        justify-content: center;
        flex-direction: unset;
        align-items: unset;

    }

    .content{
        width: 40vw;
        align-self: start;
    }

    .avatar{
        align-self:flex-end;
        margin-bottom: 5%;
    }

}