body{
    overflow: hidden;
}

.landing{
    background-image: url("../../assets/pictures/SMSmall.jpg");
    width: 100vw;
  display: table;
  margin: 0;
  max-width: none;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-10%);
  
}
.info{
    background-color: #5D00FF;
    width: 100vw;
    height: 100vh;
    transform: translateY(-2px);
}




@keyframes animate
{
    0%
    {
        top: -5px;
        left: -5px;
        opacity: 0;
    }

    25%
    {
        top: 0px;
        left: 0px;
        opacity: 1;
    }

    100%
    {
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}
  

@media only screen and (min-width: 780px){
    
.landing{
    background-image: url("../../assets/pictures/SMDesinged.jpg");
    height: 100vh;
}


.scrollDown
{
    position: absolute;
    bottom: 80px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg); 
}
.scrollDown span
{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    animation:  animate 1.5s linear infinite;
    opacity: 0;
}
.scrollDown span:nth-child(1)
{
    transform: translate(-15px,-15px);
    animation-delay: -0.4s;
}
.scrollDown span:nth-child(2)
{
    transform: translate(0px,0px);
    animation-delay: -0.2s;
}
.scrollDown span:nth-child(3)
{
    transform: translate(15px,15px);
    animation-delay: 0s;
}

}