<div class="landingPage ">
    <div class="row topRowLandingPage">
        <div class="col col-lg-6 col-md-6 col-sm-6">
            <div class="watermarkLogo">
                <img src="../../assets/Landing Page/InetialWatterMark.svg" />
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 col-sm-6">
            <div class="designTop float-right ">
                <img src="../../assets/Landing Page/TopDesign.svg" />
                <div class="colaborateButton  "> 
                    <div class="colaborateText ">Let's colaborate</div>
                    <div class="coloborateImage ">
                        <!-- <img src="../../assets/Landing Page/ColaborateLogo.svg" /> -->
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
    
    <div class=" myImg "> 
        <img class="mr-5" src="../../assets/Landing Page/MyPicLandingPage.svg" /> 
           <span> Full-Stack Developer and Designer </span> 

    </div>
    
</div>