/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";
/* @font-face {
    font-family: QuiteMagical;
    src: url(assets/fonts/Quite\ MagicalTTF.ttf) format("opentype");
  } */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Arial Rounded MT; 
  padding: 0; 
   }
   
ul{list-style-type: none;}

a{
  text-decoration: none;
}

img{ width: 100%}

section{
  padding: 4em 2em;

  text-align: center;
}



